---
title: Search page
meta: true
---
<script src="/js/elasticlunr.min.js"></script>

<script>
var index = elasticlunr(function () {
  this.addField('title');
  this.addField('body');
  this.setRef('id');
});
  
{% for p in site.pages %}
    {% if p.title and p.url != "/" and p.url != "/all_pages.html" and p.url != "/POD.html" and p.url != "/search.html" %}
    index.addDoc({
       "id": unescape("{{ p.url | escape }}"),
       "title": unescape("{{ p.title | escape }}"),
       "body": unescape("{{ p.content | escape }}") });
  {% endif %}
{% endfor %}
  
  console.log(index.search(window.location.search.substr(1)));
</script>
