---
title: Search page
meta: true
layout: default
---
<script src="/js/elasticlunr.min.js"></script>

<div style=display:none>
{% for p in site.pages %}
    {% if p.title and p.url != "/" and p.url != "/all_pages.html" and p.url != "/POD.html" and p.url != "/search.html" %}
     <searchdata url="{{ p.url | escape }}" title="{{ p.title | escape }}">
      {{ p.content | escape}}
     </searchdata>
  {% endif %}
{% endfor %}
</div>

<div id=results></div>

<script>
var index = elasticlunr(function () {
  this.addField('title');
  this.addField('body');
  this.setRef('id');
});
  
  var tags = document.getElementsByTagName("searchdata");
  for (var i = 0; i < tags.length; i++) {
    var tag = tags[i];
    var id = tag.attributes.url.value;
    var title = unescape(tag.attributes.title.value);
    var body = unescape(tag.innerHTML);
    console.log("id = " + id + " title = " + title);
//    console.log("body = " + body);
    index.addDoc({ "id": id, "title": title, "body": body });
  }

  var results = index.search(unescape(window.location.search.substr(1)));
  var ret = "";
  if (results.length > 0) {
    ret += "<ul>\n";
    for (var i = 0; i < results.length; i++) {
        ret += "<li><a href='"+results[i].ref + "'>" + results[i].doc.title + "</a></li>\n"; 
    }
    ret += "</ul>\n";
  } else {
    ret += "No results found, sorry.";
  }
  document.getElementById("results").innerHTML = ret;
</script>

