---
title: Search page
list: false
---
<script src="/js/elasticlunr.min.js"></script>
<script>
var index = elasticlunr(function () {
  this.addField('title');
  this.addField('body');
  this.setRef('id');
});
  
  var tags = document.getElementsByClassName("searchdata");
  for (var i = 0; i < tags.length; i++) {
    var tag = tags[i];
    this.add({ "id": tag.attributes.url.value,
               "title": tag.attributes.title.value,
               "body": tag.innerHTML });
  }

  console.log(index.search(window.location.search.substr(1)));
</script>

{% for p in site.pages %}
  {% if p.title and p.url != "/" and p.url != "/all_pages.html" and p.url != "/POD.html" %}
   <div class=searchdata url="{{ p.url | escape }}" title="{{ p.title | escape }}">
    {{ p.content }}
   </div>
  {% endif %}
{% endfor %}
