:target::before {
  content: "";
  display: block;
  height: 65px; /* fixed header height*/
  margin: -65px 0 0; /* negative fixed header height */
}
		  

.search-container input[type=text] button {
  padding: 6px;
  margin-top: 8px;
  font-size: 14px;
  border: none;
}
.search-container {
          color: white;
          border: 1px solid #5d910b;
          background: linear-gradient(#93bd20, #659e10);
          border-radius: 2px;
          box-shadow: inset 0px 1px 0px rgba(255,255,255,.3), 0px 3px 7px rgba(0,0,0,.7);

          background-color: #93bd20;
          padding: 6px 6px;
          margin-top: 6px;
          line-height:14px;
          font-size:14px;
          display:inline-block;
          text-align:center;
  }
		  
#header {
  nav {
    ul {
      li {
        a {
          padding: 8px 10px  !important;
          margin-top: 6px  !important;
          line-height:18px  !important;
          font-size:18px   !important;
        }
      }
    }
  }
}

@media print {
  .noprint {
    display: none;
  }
  #header {
    display: none;
  }
  .pagebreak {
    page-break-after: always;
  }
  h3, h4 {
    page-break-after: avoid;
  }
  pre, blockquote {
    page-break-inside: avoid;
  }
}
.anchor {
  visibility: hidden;
  color: #dfe2e5;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  visibility: visible;
}

pre.highlight {
  position: relative;

  // copy code to clipboard
  .copy {
    color: #ffffff;
    position: absolute;
    right: 1.2rem;
    top: 1.2rem;
    opacity: 0;

    &:active,
    &:focus,
    &:hover {
      background: rgba(0, 0, 0, 0.7);
      opacity: 1;
    }
  }

  &:active .copy,
  &:focus .copy,
  &:hover .copy {
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
  }
}
