<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
	  <!-- page url = {{ page.url }} -->
{% assign base = ''
%}{% assign depth = page.url | append: "." | split: '/' | size | minus: 1
%}{% if depth <= 1
%}{% assign base = '.'
%}{% elsif depth == 2
%}{% assign base = '..'
%}{% elsif depth == 3
%}{% assign base = '../..'
%}{% elsif depth == 4
%}{% assign base = '../../..'
%}{% endif
%}
	   <!-- depth = {{ depth }}  base = {{ base }} pod = {{ pod }} page.pod = {{ page.pod }} -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% if page.title %}
       <title>ProffieOS Documentation: {{ page.title }}</title>
    {% else %}
       <title>ProffieOS Documentation</title>
    {% endif %}

    <link rel="shortcut icon" type="image/png" href="{{base}}/images/favicon.png">

{% seo title=false %}
    <link rel="stylesheet" href="{{ base | append: '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ base | append: '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ base | append: '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
	  <style>
		  
:target::before {
  content: "";
  display: block;
  height: 65px; /* fixed header height*/
  margin: -65px 0 0; /* negative fixed header height */
}
@media print {
  .noprint {
    display: none;
  }
  .pagebreak {
    page-break-after: always;
  }
  h3, h4 {
    page-break-after: avoid;
  }
  pre, blockquote {
    page-break-inside: avoid;
  }
}
</style>
  </head>
  <body>
      <div id="header">
        <nav>
          <ul>
	    <li class="fork"><font size=+2 onclick="location.href='{{base}}/index.html'">ProffieOS Documentation</a></font></li>
            <li class="downloads"><a href="{% github_edit_link %}">&#x270E;</a></li>
            <li class="downloads"><a href="{{ site.github.repository_url }}">View On GitHub</a></li>
            {% if site.show_downloads %}
              <li class="downloads"><a href="{{ site.github.zip_url }}">ZIP</a></li>
              <li class="downloads"><a href="{{ site.github.tar_url }}">TAR</a></li>
              <li class="title">DOWNLOADS</li>
              {% endif %}
          </ul>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
	  <!--
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
	  -->
         {% if page.title %}
            <h1>{{ page.title }}</h1>
         {% else %}
            <h1>ProffieOS Documentation</h1>
         {% endif %}
          <hr>
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
        </div>
	      
        {{ content }}

      </section>

    </div>


	  {% if page.pod %}
	<script>
  var linksToFix = {};
  function fixPODLink(f, t) {
    linksToFix[f] = t;
    linksToFix[new URL(f, window.location).href] = t;
  }
	
  {% for p in site.pages %}
    {% if p.title and p.url != "/" and p.url != "/all_pages.html" and p.url != "/POD.html" %}
       fixPODLink("{{ p.url | escape }}", "#{{ p.title | remove: "'" | remove: "_" | slugify }}");
    {% endif %}
  {% endfor %}

  var atags = document.getElementsByTagName("a");
  for (var i = 0; i < atags.length; i++) {
     var tag = atags[i];
     var href = tag.href;
     if (linksToFix[href]) {
       tag.href = linksToFix[href];
       continue
     }
     if (linksToFix[href + ".html"]) {
       tag.href = linksToFix[href + ".html"];
       continue
     }
     var href2 = new URL(href, window.location).href;
     if (linksToFix[href2]) {
       tag.href = linksToFix[href2];
       linksToFix[href] = linksToFix[href2];
     }
     var href2 = new URL(href + ".html", window.location).href;
     if (linksToFix[href2]) {
       tag.href = linksToFix[href2];
       linksToFix[href] = linksToFix[href2];
     }
  }
 </script>  
	  {% endif %}
  </body>
</html>
