<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
	  <!-- page url = {% page.url %} -->
{% assign base = ''
%}{% assign depth = page.url | split: '/' | size | minus: 1
%}{% if depth <= 1
%}{% assign base = '.'
%}{% elsif depth == 2
%}{% assign base = '..'
%}{% elsif depth == 3
%}{% assign base = '../..'
%}{% elsif depth == 4
%}{% assign base = '../../..'
%}{% endif
%}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% if page.title %}
       <title>ProffieOS Documentation: {{ page.title }}</title>
    {% else %}
       <title>ProffieOS Documentation</title>
    {% endif %}

    <link rel="shortcut icon" type="image/png" href="{{base}}/images/favicon.png">

{% seo title=false %}
    <link rel="stylesheet" href="{{ '{{base}}/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '{{base}}/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '{{base}}/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
      <div id="header">
        <nav>
          <ul>
	    <li class="fork"><font size=+2 onclick="location.href='{{base}}/index.html'">ProffieOS Documentation</a></font></li>
            <li class="downloads"><a href="{% github_edit_link %}">&#128393;</a></li>
            <li class="downloads"><a href="{{ site.github.repository_url }}">View On GitHub</a></li>
            {% if site.show_downloads %}
              <li class="downloads"><a href="{{ site.github.zip_url }}">ZIP</a></li>
              <li class="downloads"><a href="{{ site.github.tar_url }}">TAR</a></li>
              <li class="title">DOWNLOADS</li>
              {% endif %}
          </ul>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
	  <!--
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
	  -->
         {% if page.title %}
            <h1>{{ page.title }}</h1>
         {% else %}
            <h1>ProffieOS Documentation</h1>
         {% endif %}
          <hr>
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
        </div>

	{% include anchor_headings.html html=content %}

      </section>

    </div>
  </body>
</html>
